/* Carousel Styles */
.product-carousel-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.product-carousel {
    display: flex;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.slide {
    box-sizing: border-box;
    position: relative;
    margin: 0 5px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}

.slide img,
.slide iframe {
    width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 3/4;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.slide:hover .overlay {
    opacity: 1;
}

.active-slide .overlay {
    background-color: rgba(255, 99, 71, 0.5);
}

.active-slide img,
.active-slide iframe {
    opacity: 1;
}

.slide.active-slide {
    display: block !important;
    transition: transform 0.5s ease-in-out;
}

.slide.hide-slide {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    position: absolute;
    z-index: -1;
}

.slide-animation-next {
    animation: slideInFromRight 0.5s ease-in-out;
}

.slide-animation-prev {
    animation: slideInFromLeft 0.5s ease-in-out;
}

@keyframes slideInFromRight {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
}

@keyframes slideInFromLeft {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0); }
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-carousel-container {
        width: 95%;
        margin: auto;
    }
}