/* Carousel Styles */
.product-carousel-container {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.product-carousel {
    display: flex;
    overflow-x: hidden;
    transition: transform 0.5s ease-in-out;
}

.slide {
    box-sizing: border-box;
    position: relative;
    margin: 0 5px;
}

.slide img,
.slide iframe {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.slide:hover .overlay {
    opacity: 1;
}

.active-slide .overlay {
    background-color: rgba(255, 99, 71, 0.5);
}

.active-slide img,
.active-slide iframe {
    opacity: 1;
}

.slide.active-slide {
    display: flex !important;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide.hide-slide {
    display: none !important;
}

.slide-animation {
    animation: slideAnimation 0.5s ease-in-out;
}

@keyframes slideAnimation {
    0% { opacity: 0.7; transform: translateX(0px); }
    100% { opacity: 1; transform: translateX(0); }
}

@keyframes slideRightAnimation {
    0% { opacity: 0.7; transform: translateX(-20px); }
    100% { opacity: 1; transform: translateX(0); }
}

/* Responsive Design */
@media (max-width: 768px) {
    .product-carousel-container {
        width: 95%;
        margin: auto;
    }
}